.product-page {
  flex: 1;
  background-color: rgb(243, 245, 246);
}

/* Card Styling */
.card {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Container */
.image-container {
  height: 200px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Body */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

/* Buttons */
.btn-primary {
  background: linear-gradient(45deg, #007bff, #0056b3);
  color: white;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #0056b3, #007bff);
}

.btn-warning {
  background: linear-gradient(45deg, #f7b42c, #fc575e);
  color: white;
}

.btn-warning:hover {
  background: linear-gradient(45deg, #fc575e, #f7b42c);
}

@media (max-width: 768px) {
  .card {
    margin: 10px auto;
  }

  .image-container {
    height: 180px;
  }

  .card-body {
    min-height: 160px;
  }
}

@media (max-width: 576px) {
  .product-page {
    padding: 5px;
  }

  .card {
    margin: 10px auto;
  }

  .image-container {
    height: 150px;
  }

  .card-body {
    min-height: 140px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-text {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .image-container {
    height: 130px;
  }

  .card-body {
    min-height: 120px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }
}
